APP_ORIGIN=http://localhost

MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_PASSWORD=change-this-mysql-password
REDIS_PASSWORD=change-this-redis-password
RABBITMQ_PASSWORD=change-this-rabbitmq-password
JWT_SECRET=change-this-long-random-jwt-secret
