global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend rabbitmq
    bind *:5672
    default_backend rabbitmq_nodes

backend rabbitmq_nodes
    balance roundrobin
    option tcp-check
    server rabbitmq-1 rabbitmq-1:5672 check inter 2s fall 3 rise 2
    server rabbitmq-2 rabbitmq-2:5672 check inter 2s fall 3 rise 2
    server rabbitmq-3 rabbitmq-3:5672 check inter 2s fall 3 rise 2
